@page "/api/accounts/ConfirmEmail"

<h3>Email confirmation</h3>

<p>Press the button to confirm your account</p>
<button class="btn btn-primary" @onclick="ConfirmAccountAsync">Confirm Account</button>
