<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContext" OnValidSubmit="onValidSubmit">
    <DataAnnotationsValidator/>
    <div class="mb-3">
        <label>Category</label>
        <div>
            <InputText class="form-control" @bind-Value="@category.Name"/>
            <ValidationMessage For="@(() => category.Name)" />
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Save Changes</button>
    <button class="btn btn-success" onclick="ReturnAction">Go back</button>
</EditForm>

