@page "/countries"

<h3>Countries Index</h3>
<div class="mb-3">
    <a class="btn btn-primary" href="/countries/create">New Country</a>
</div>

<GenericList MyList="countries">
   
    <body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Countries</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in countries)
                {
                    <tr>
                        <td>
                            @item.name
                        </td>
                        <td>
                            <a class="btn btn-warning">Edit</a>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </body>
</GenericList>

