<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"/>

<h3>Country Form</h3>
<EditForm EditContext="editContext" OnValidSubmit="onValidSubmit">
    <DataAnnotationsValidator/>
    <div class="mb-3">
        <label>Country:</label>
        <div>            
            <InputText class="form-control" @bind-Value="@Country.name"/>
            <ValidationMessage For="@(()=> Country.name)"/>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Save Changes</button>
    <button class="btn btn-success" onclick="ReturnAction">Go back</button>
</EditForm>